<h1>Planets</h1>
<%= link_to 'Add a planet', new_planet_path %>
<table>
  <thead>
    <tr>
      <th>Ordinality</th>
      <th>Name</th>
      <th>Size</th>
      <th>Distance</th>
    </tr>
  </thead>
  <tbody>
    <% @planets.each do |planet| %>
    <tr>
      <td> <%= planet.ordinality %> </td>
      <td> <%= link_to planet.name, planet_path(planet) %> </td>
      <td> <%= planet.size %> </td>
      <td> <%= planet.distance %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
