<table>
	<tr>
		<th>Ordinality</th>
		<th>Name</th>
		<th>Size</th>
		<th>Distance</th>
	</tr>
	
	<% @planets.each do | planet | %>
		<tr>		
			<td><%= planet.ordinality %></td>
			<td><%= link_to(planet.name, planet_url(planet)) %></td>
			<td><%= planet.size %></td>
			<td><%= planet.distance %></td>
		</tr>

	<% end %>
</table>

<%= form_for :planet, url: planets_url do |f| %>
  Name: <%= f.text_field :name %><br />
  Size: <%= f.text_field :size %><br />
  Distance: <%= f.text_field :distance %><br />
  Ordinality: <%= f.text_field :ordinality %><br />
  Description: <%= f.text_area :description %><br />
  <%= f.submit %>
<% end %>